<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NER</title>
    <style>
        form {
            display: block;
        }
        .input-block{
            display: block;
            justify-content: center;
        }
        .input-query {
            resize: vertical;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1> Welcome to Name Entity Recognition System! </h1>
    <form action="/result/" method="post">
        {% csrf_token %}
        <div class="input-block">
            <label>Input Query</label><br>
            <textarea name="input-query" class="input-query" rows="4" cols="50"></textarea>
        </div>
        <input type="submit" value="Label!!">
    </form>

</body>
</html>